<main class="contenedor">
    <form action="/iniciar-administrador" method="POST" class="default-form">
        <div class="campo">
            <label for="">E-Mail</label>
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="campo">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-verde">
        </div>
    </form>
</main>