<main class="contenedor">
    <form action="/reestablecer-password" method="POST" class="default-form">
        <div class="campo">
            <label for="">E-Mail</label>
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Volver a Iniciar Sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer Password" class="btn btn-verde">
        </div>
    </form>
</main>